
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.05);
  color: red;
}

@layer base {
  @font-face {
    font-family: 'PIXEL';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./onesize.TTF) format('woff2');
  }
}

* {
  font-family: PIXEL, serif;
  color: black;
}